body {
    background-color: #1d2021;
    color: #ebdbb2;
}

h1,
h2 {
    border-bottom-color: #a89984 !important;
}

th {
    background-color: #076678;
}

tr.hl {
    background-color: #282828;
}

.tborder {
    border: none;
}

input[type="submit"] {
    background-color: #3c3836;
    border: #3c3836;
    border: none !important;
    color: #ebdbb2;
    padding: 5px 10px;
}

input[type="text"] {
    background-color: #282828 !important;
}

input:focus-visible,
textarea:focus-visible {
    outline: none;
    border-color: #076678;
}

textarea,
input {
    background-color: #282828;
    border: solid #3c3836 2px;
    color: #ebdbb2;
}

input[type="radio"] {
    appearance: initial;
    -moz-appearance: initial;
    background-color: #282828;
    width: 14px;
    height: 14px;
    border-radius: 50%;
}

input[type="radio"]:checked {
    background-color: #076678;
    border-color: #458588;
    width: 14px;
    height: 14px;
    border-radius: 50%;
}

input[type="checkbox"] {
    appearance: initial;
    -moz-appearance: initial;
    background-color: #282828;
    width: 14px;
    height: 14px;
}

input[type="checkbox"]:checked {
    appearance: initial;
    -moz-appearance: initial;
    background-color: #458588;
    border-color: #076678;
}

select {
    background-color: #282828;
    border: solid #3c3836 2px;
    color: #ebdbb2;
}

/* player */

div[id^="pv"] {
    background-color: #282828;
    border: 2px solid #3c3836 !important;
}

div[id^="pv"] > #pb {
    -webkit-appearance: none;
    appearance: none;

    background-color: #282828;
    border: 2px solid #3c3836;
}
div[id^="pv"] > #pb::-webkit-progress-bar {
    background-color: #282828;
}
div[id^="pv"] > #pb::-webkit-progress-value {
    background-color: #076678;
}
div[id^="pv"] > #pb::-moz-progress-bar {
    background-color: #076678;
}

div[id^="pv"] img {
    background-color: #282828 !important;
    border: 1px solid #3c3836 !important;
}
div[id^="pv"] > a[title="Download MP3"] > img {
    background-color: #d7d7d7 !important;
    border: 1px solid #c3c7c9 !important;
    filter: invert(100%);
}

div[id^="pv"] > #pb::-moz-progress-bar {
    background-color: #076678;
}

/* original header */

body > br:nth-of-type(1) {
    display: none;
}

body > table:nth-of-type(1) {
    display: none;
}

/* header menu */

body > table:nth-of-type(2) {
    height: 26px;
    background: #3c3836;
    position: fixed;
    top: 0;
    left: 150px;
    width: calc(100% - 150px);
}

body > table:nth-of-type(2) * {
    margin: 0;
    padding: 0;
    height: 26px;
    background: #3c3836;
}

body > table:nth-of-type(2) td {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
}

body > table:nth-of-type(2) img {
    display: none;
}

body > table:nth-of-type(2) a {
    padding: 0 7px;
    height: 100%;
    display: block;
    line-height: 26px;
    background: none;
    text-decoration: none;
    color: #ebdbb2;
}

body > table:nth-of-type(2) a:hover {
    background-color: #504945;
}

/* left navbar */

body > table:nth-of-type(3) {
    margin-top: 26px;
}

body > table:nth-of-type(3) > tbody > tr > td:nth-of-type(1) {
    position: fixed;
    top: 0;
    left: 0;
    max-width: 150px !important;
    height: 100%;
    background-color: #282828;
}

body > table:nth-of-type(3) > tbody > tr > td:nth-of-type(1) a {
    color: #ebdbb2;
}

body > table:nth-of-type(3) > tbody > tr > td:nth-of-type(1) * {
    margin: 0;
    padding: 0;
}

body > table:nth-of-type(3) > tbody > tr > td:nth-of-type(1) br {
    display: none;
}

body > table:nth-of-type(3) > tbody > tr > td:nth-of-type(1) > table {
    width: 100%;
    gap: 0;
    border-collapse: collapse;
}

#nav-logo > img {
    max-width: 100%;
    vertical-align: top;
    filter: hue-rotate(138deg) saturate(0.79);
}

#topMenuFirstRow {
    height: 20px;
    line-height: 20px;
}

body
    > table:nth-of-type(3)
    > tbody
    > tr
    > td:nth-of-type(1)
    > table:nth-of-type(1)
    td {
    display: flex;
    flex-direction: column;
    align-items: center;
}

body
    > table:nth-of-type(3)
    > tbody
    > tr
    > td:nth-of-type(1)
    > table:nth-of-type(1)
    td
    > * {
    margin: 0;
    padding: 0;
    text-align: center;
    list-style-type: none;
}

body
    > table:nth-of-type(3)
    > tbody
    > tr
    > td:nth-of-type(1)
    > table:nth-of-type(1)
    td
    > ul {
    align-self: flex-end;
    width: 100%;
}

body
    > table:nth-of-type(3)
    > tbody
    > tr
    > td:nth-of-type(1)
    > table:nth-of-type(1)
    td
    > ul
    > * {
    height: 20px;
    line-height: 20px;
    padding-right: 7px;
    text-align: end;
}

body
    > table:nth-of-type(3)
    > tbody
    > tr
    > td:nth-of-type(1)
    > table:nth-of-type(1)
    td
    > ul
    > *
    > a {
    text-decoration: none;
    color: #a89984;
}

body
    > table:nth-of-type(3)
    > tbody
    > tr
    > td:nth-of-type(1)
    > table:nth-of-type(1)
    td
    > ul
    > *:hover {
    background-color: #3c3836;
}

body
    > table:nth-of-type(3)
    > tbody
    > tr
    > td:nth-of-type(1)
    > table:last-of-type
    td {
    padding: 7px;
}

body
    > table:nth-of-type(3)
    > tbody
    > tr
    > td:nth-of-type(1)
    > table:last-of-type
    a {
    color: #a89984;
    text-decoration: none;
}

body
    > table:nth-of-type(3)
    > tbody
    > tr
    > td:nth-of-type(1)
    > table:nth-of-type(2)
    a {
    color: #a89984;
    text-decoration: none;
}

body
    > table:nth-of-type(3)
    > tbody
    > tr
    > td:nth-of-type(1)
    > table:nth-of-type(2)
    strong {
    color: #076678;
}

/* main body */

body > table:nth-of-type(3) > tbody > tr > td:nth-of-type(2) {
    padding-left: 160px;
}

body > table:nth-of-type(3) > tbody > tr > td:nth-of-type(2) a {
    color: #ebdbb2 !important;
}

.mmactive {
    background: none;
    color: #ebdbb2;
}

.mminactive {
    background: none;
    color: #a89984;
}

/* MorseMachine bar colors */

img[src*="/pics/mm-0.png"] {
    filter: brightness(0) saturate(100%) invert(15%) sepia(1%) saturate(4548%)
        hue-rotate(335deg) brightness(98%) contrast(78%);
}

img[src*="/pics/mm-1.png"] {
    filter: brightness(0) saturate(100%) invert(26%) sepia(45%) saturate(2134%)
        hue-rotate(159deg) brightness(96%) contrast(94%);
}

img[src*="/pics/mm-2.png"] {
    filter: brightness(0) saturate(100%) invert(8%) sepia(17%) saturate(5%)
        hue-rotate(9deg) brightness(101%) contrast(83%);
}

/* prevent overlap with left navbar */

.footer {
    margin-left: 150px;
    padding: 20px;
}

.footer a {
    color: #ebdbb2 !important;
}
